.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: fit-content;
  margin: auto;
  color: rgb(10, 10, 10);
  padding: 0rem 8rem 0rem 0rem;
  translate: 0 -4rem;
}

.container .heading {
  font-size: larger;
  font-weight: 500;
  margin-block-end: 0;
  margin-block-start: 0;
}

.container .year {
  font-weight: 400;
  font-size: medium;
  color: rgb(125, 124, 124);
}

.container .btn1 {
  max-width: fit-content;
  background-color: rgb(248, 245, 245);
  border: none;
  font-size: small;
  font-weight: 400;
  padding: 0.7rem 0.5rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  padding-left: 0;
}
@media (max-width: 300px) {
  .container {
    padding: 0rem 4rem 0rem 1rem;
  }
}
@media (min-width: 480px) {
  .container {
    padding: 0rem 16rem 1rem 1rem;
    translate: 0 -2rem;
  }
  .container .heading {
    font-size: 2rem;
    margin-top: 1rem;
    margin-block-end: 1rem;
  }

  .container .year {
    font-size: x-large;
  }
  .container .btnHolder {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
  }
  .container .btn1 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0;
  }
}

@media (min-width: 590px) {
  .container {
    padding: 0rem 0rem 2rem 1rem;
    margin: auto 1rem;
    translate: 0 -2rem;
  }
  .container .btnHolder {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0rem 3.5rem;
    translate: 0 -5rem;
  }
}

@media (min-width: 865px) {
  .container .btnHolder {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1100px) {
  .container {
    padding: 0rem 4rem 2rem 4rem;
  }
}
