.container {
  display: grid;
  grid-template-columns: auto;
  /* flex-direction: column; */
  padding-top: 0;
  color: rgb(10, 10, 10);
}

.container .heading {
  font-size: larger;
  font-weight: 500;
  margin-block-end: 0;
  margin-block-start: 0;
}

.container .year {
  font-weight: 400;
  font-size: medium;
  margin-block-end: 0;
  margin-block-start: 0;
  color: rgb(125, 124, 124);
}

.container .btn1 {
  display: flex;
  max-width: fit-content;
  background-color: rgba(68, 67, 67, 0.053);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  color: rgb(10, 10, 10);
}

@media (min-width: 768px) {
  .container .heading {
    font-size: 2rem;
    margin-block-end: 1rem;
  }

  .container .year {
    font-size: x-large;
  }

  .container .btn1 {
    font-size: 1.3rem;
  }
}
