.Signup {
    display: flex;
    padding: 1.5rem 1rem;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    right: 0;
    bottom: 0;
}