.detailHolder {
  padding: 1rem;
}

.detailHolder .title {
  margin-block-end: 0;
  margin-block-start: 1rem;
  font-size: xx-large;
  font-weight: 300;
}
.detailHolder .inputBox {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-color: rgb(230, 228, 228);
  color: rgb(225, 222, 222);
  font-size: large;
}
