.cards2-container{
    display: flex;
    
}
.cards2-container .heading{
    margin-top: 5rem;
    padding: 1.5rem;
}
.cards2-container .card {
    position: relative;
    text-align: center;
    color: white;
}
.cards2-container .card .img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, 5%);
}
img{
   width: 100%;
   object-fit: cover;
}