.card2-container{
    margin: 1.5rem;
}
.card2-container .heading{
    margin-top: 5rem;
}
.card2-container .heading h3{
    margin-block-end: 0px;
    font-size: 1.3rem;
    font-weight: 400;
}
.card2-container .detail{
    display: flex;
    flex-direction: column;
}
.card2-container .heading p{
    margin-block-start: 0.3rem;
    font-size: 0.83rem;
    font-weight: 300;
}
.card2-container .link-para{
    color: rgb(226, 55, 68);
}
.card2-container .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    margin-top: 2rem;
}
.card2-container .card {
    position: relative;
    color: white;
}
.card2-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.card2-container .card .img-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5rem, 3rem);
}

@media (min-width: 480px) {
    .card2-container .detail{
        flex-direction: row;
        justify-content: space-between;
    }
    .card2-container .link-para{
        margin: 0.4rem 1rem;
    }
    .card2-container .heading h3{
        font-size: 1.9rem;
    }
    .card2-container .heading p{
        font-size: 1.1rem;
        font-weight: 300;
    }
    .card2-container .cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 0.8rem;
    }
    .card2-container img{
        margin-bottom: 3rem;
        height: 100%;
        background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1));
    }
    .card2-container .cards .img-text{
        transform: translate(-6rem, 6rem);
    }
}

@media (min-width: 1020px) {
    .card2-container{
            gap: 1.5rem;
            margin: 2rem 12rem; 
    }
    .card2-container .cards{
        margin-top: 1rem;
    }
    .card2-container .cards .img-text{
        transform: translate(-7.2rem, 6.8rem);
    }
}