.container {
    padding: 0.7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
}

.container .card {
    width: 100%;
    border: 0.2px solid rgba(189, 189, 189, 0.537);
    border-radius: 0.8rem;
}

.container .card .card-img {
    height: 6rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    object-fit: cover;
}

.container .card .text {
    padding: 0.8rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: black;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.container .card .p1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.container .card .p2 {
    font-size: 0.8rem;
    width: 100%;
    color: gray;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}