/*slideshow*/
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  /* height: 25rem; */
}
.slideshow .slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  height: 100%;
}
.slideshow .slideshowSlider .slide .image {
  height: 100%;
  object-fit: cover;
}
.slideshow .slideshowSlider .slide {
  display: inline-block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* button */

.slideshow .slideshowDots {
  text-align: center;
}
.slideshow .dot {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0px 0.1rem 0px;
  background-color: #4b444496;
  opacity: 0.8;
  translate: 0 -5rem;
}

.dot.active {
  background-color: #ef4f5f;
}

/*detail*/

.slideshow .slideshowSlider .slide .detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 3rem; */
  padding: 0 0.5rem;
  color: rgba(255, 255, 255, 0.958);
  translate: 0 -5rem;
  text-align: start;
  overflow: hidden;
  justify-content: space-between;
}
/* .slideshow .slideshowSlider .slide .detail .part1 {
  width: 1rem;
} */

.slideshow .slideshowSlider .slide .detail .part1 .title {
  margin-block-end: 0;
  margin-block-start: 0;
}
.slideshow .slideshowSlider .slide .detail .part1 .description {
  inline-size: 0.2rem;
  overflow-wrap: break-word;
}
.slideshow .slideshowSlider .slide .detail .part2 {
  background-color: #1c191978;
  backdrop-filter: blur(5px);
  margin: auto;
  margin-top: 1.9rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.5rem;
}
@media (min-width: 768px) {
  .slideshow .slideshowSlider .slide .detail {
    translate: 2rem -12rem;
  }

  .slideshow .slideshowSlider .slide .detail .part1 .title {
    font-size: 4rem;
  }
  .slideshow .slideshowSlider .slide .detail .part1 .description {
    font-size: xx-large;
  }
  .slideshow .slideshowSlider .slide .detail .part2 {
    color: rgba(255, 255, 255, 0.695);
    font-size: 0.9rem;
  }
  .slideshowDots .dot {
    opacity: 0.6;
    translate: 0 -10rem;
  }
}
