.detailsPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
}

.detailsPage .Nav {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.detailsPage .Nav .Link {
    margin-right: auto;
    width: 8rem;
}

.detailsPage .Nav .Link img {
    width: 100%;
    margin-right: auto;
}

.detailsPage .Nav button {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    background: #E23744;
    color: white;
    border-radius: 1rem;
    border: none;
    margin: 0;
    font-size: 0.8rem;
}

.detailsPage .Nav .userIcon {
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E23744;
    border-radius: 50%;
    border: 0.15rem solid #DEDEDE;
    padding: 0.4rem;
}

.detailsPage .Nav .rightLink {
    color: #969696;
    margin: 0 1rem;
    display: none;
    font-size: 1.1rem;
    text-decoration: none;
}

.detailsPage .Nav .rightLink:hover {
    color: #2e2d2d;
}

.detailsPage .Delivery {
    display: none;
}

.detailsPage .Inspiration {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #F8F8F8;
}

.detailsPage .brands {
    background-color: white;
}

.detailsPage .Inspiration .CircleCard::-webkit-scrollbar {
    display: none;
}

.detailsPage .Inspiration .heading {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.detailsPage .Inspiration .CircleCard {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 0.5rem;
    width: 100%;
}

.detailsPage .Inspiration .CircleCard .CircleItem {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.25rem;
}

.detailsPage .Inspiration .CircleCard .CircleItem .Circle {
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 0.05rem solid rgb(230, 228, 228);
}

.detailsPage .Inspiration .CircleCard .CircleItem .Circle img {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    object-fit: cover;
}

.detailsPage .Inspiration .CircleCard .CircleItem span {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-top: 0.4rem;
}

.detailsPage .Inspiration .CircleCard .CircleItem .time {
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 0rem;
}

@media (max-width: 300px) {
    .detailsPage .Nav button {
        display: none;
    }
}

@media (min-width: 768px) {
    .detailsPage .Nav {
        padding: 1rem 5rem;
        box-shadow: none;
    }

    .detailsPage .Nav button {
        display: none;
    }

    .detailsPage .Nav .userIcon {
        display: none;
    }

    .detailsPage .Nav .rightLink {
        display: block;
    }

    .detailsPage .Delivery {
        padding: 0 5rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .detailsPage .Delivery .DeliveryItem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        position: relative;
    }

    .detailsPage .Delivery .DeliveryItem img {
        width: 2.5rem;
        padding-left: 1.5rem;
    }

    .detailsPage .Delivery .DeliveryItem .color1 {
        color: #E23744;
        padding-right: 1.5rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .detailsPage .Delivery .DeliveryItem .color2 {
        color: #969696;
        padding-right: 1.5rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .detailsPage .Delivery .DeliveryItem .line {
        position: absolute;
        height: 0.15rem;
        width: 100%;
        background: #E23744;
        bottom: -1rem;
        border-radius: 2rem;
        transition: all 2s ease-in-out;
    }

    .detailsPage .Inspiration {
        padding: 2rem 5rem;
    }

    .detailsPage .Inspiration .CircleCard .CircleItem .Circle {
        width: 9rem;
        height: 9rem;
        overflow: hidden;
        border-radius: 50%;
        background: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border: 0.05rem solid rgb(230, 228, 228);
    }

    .detailsPage .Inspiration .heading {
        font-size: 1.7rem;
    }
}