.investorNavbar {
  background-color: white;
  position: absolute;
  z-index: 20;
  /* padding: 1rem; */
  display: flex;
  gap: 0.2rem;
  right: 0;
  top: 0;
}

.investorNavbar .smallScreen {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

  /* background-color: white; */
}
.investorNavbar .smallScreen .add {
  color: #151515;
  text-decoration: none;
  /* display: flex; */
  text-align: start;
  gap: 0.2rem;
  align-items: flex-start;
}
.investorNavbar .smallScreen .smallItem {
  display: flex;
  padding: 1.5rem 1rem;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  /* background: white; */
  right: 0;
  bottom: 0;
}
.investorNavbar .smallScreen .smallItem .hamburger-cross {
  color: black;
}

.investorNavbar .smallScreen .smallItem .link {
  text-decoration: none;
  color: black;
}

.investorNavbar .smallScreen .hamburger-cross,
.investorNavbar .smallScreen .hamburger-icon {
  color: #151515;
  margin: 0;
  font-size: 1.8rem;
}

.investorNavbar .largeScreen {
  display: none;
}

@media (max-width: 768px) {
  .investorNavbar {
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .investorNavbar {
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
  .investorNavbar .smallScreen {
    display: none;
  }
  .investorNavbar .largeScreen {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .investorNavbar .largeScreen .add {
    text-decoration: none;
    margin-block-end: 0rem;
    /* color: white; */
    display: flex;
    gap: 0.2rem;
    align-items: center;
    margin: auto;
  }
  .investorNavbar .largeScreen .add .heading {
    color: #151515;
  }
  .investorNavbar .largeScreen .item {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    margin: auto;
  }
  .investorNavbar .largeScreen .item .link {
    text-decoration: none;
    color: #151515;
  }
}
